@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';

:root {
  --red-color: #c7390d;
  --white-color: #ffffff;
  --rose-color-50: #fdf8f5;
  --rose-color-100: #f2e8e4;
  --rose-color-300: #c6a99f;
  --rose-color-400: #ab8880;
  --rose-color-500: #7d5c53;
  --rose-color-900: #261009;
}
.rose-border {
  border-bottom: 0.5px solid var(--rose-color-100);
}
.rose-color-900 {
  color: var(--rose-color-900);
}
.rose-color-300 {
  color: var(--rose-color-300);
}
.rose-color-100 {
  color: var(--rose-color-100);
}
.rose-color-400 {
  color: var(--rose-color-400);
}
.rose-color-500 {
  color: var(--rose-color-500);
}
.rose-bgcolor-50 {
  background-color: var(--rose-color-50);
}

.button {
  background-color: var(--red-color);
}
.border-color {
  border: 1px solid var(--red-color);
}
.red-hat-text {
  font-family: 'Red Hat Text', sans-serif;
}

.white-button-color {
  color: var(--white-color);
  border: 1px solid var(--white-color);
}
.remove-button-color {
  color: var(--rose-color-300);
  border: 1px solid var(--rose-color-300);
}
.white-text {
  color: var(--white-color);
}
.red-button-color,
.red-text,
.button-color {
  color: var(--red-color);
}

.white-bg {
  background-color: var(--white-color);
}
.item-selected.active {
  border: 2px solid var(--red-color);
}
.body-color {
  background-color: var(--rose-color-50);
}
